---
import en from "./../assets/flags/en.png";
import es from "./../assets/flags/es.png";
import fr from "./../assets/flags/fr.png";
import de from "./../assets/flags/de.png";
import it from "./../assets/flags/it.png";
---

<div class="flex gap-2">
  <a href="/en" title="English">
    <img class="border border-solid border-slate-700 hover:opacity-90" src={en} alt={`${en} flag`} draggable="false" />
  </a>
  <a href="/es" title="Español">
    <img class="border border-solid border-slate-700 hover:opacity-90" src={es} alt={`${es} flag`} draggable="false" />
  </a>
  <a href="/fr" title="Français">
    <img class="border border-solid border-slate-700 hover:opacity-90" src={fr} alt={`${fr} flag`} draggable="false" />
  </a>
  <a href="/de" title="Deutsch">
    <img class="border border-solid border-slate-700 hover:opacity-90" src={de} alt={`${de} flag`} draggable="false" />
  </a>
  <a href="/it" title="Italiano">
    <img class="border border-solid border-slate-700 hover:opacity-90" src={it} alt={`${it} flag`} draggable="false" />
  </a>
</div>
