---
import LocationHeader from "../../components/location/LocationHeader.astro";
import MonsterAvatar from "../../components/monster/MonsterAvatar.astro";
import { dataset, type Data } from "../../data";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return (["en", "es", "fr", "de", "it"] as const).map((lang) => ({
    params: {
      lang,
    },
    props: {
      data: dataset[lang] as Data,
    },
  }));
}

const { lang = "en" } = Astro.params;

interface Props {
  data: Data;
}
const { data } = Astro.props;
---

<Layout lang={lang}>
  <ul role="list" class="grid grid-cols-1 lg:grid-cols-2">
    {
      data.map(({ name, header, monsters }, i) => (
        <li class={i === data.length - 1 ? "col-span-1 lg:col-span-2" : ""}>
          <LocationHeader name={name} image={header} />
          <ul
            role="list"
            class={`grid ${
              i === data.length - 1 ? "grid-cols-1 lg:grid-cols-2" : "grid-cols-1 2xl:grid-cols-2"
            }  gap-4 p-4 py-12 pt-8`}
          >
            {monsters.map(({ name, image }) => (
              <li class="flex gap-8">
                <MonsterAvatar name={name} image={image} />
                <div class="flex flex-col ">
                  <h3 class="text-md flex flex-1 items-center text-white md:text-xl lg:text-3xl xl:text-5xl">{name}</h3>
                  <div class="flex-1" />
                </div>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>
