---
import LocationHeader from "../../components/location/LocationHeader.astro";
import MonsterAvatar from "../../components/monster/MonsterAvatar.astro";
import { dataset, type Data } from "../../data";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return (["en", "es", "fr", "de", "it"] as const).map((lang) => ({
    params: {
      lang,
    },
    props: {
      data: dataset[lang] as Data,
    },
  }));
}

const { lang = "en" } = Astro.params;

interface Props {
  data: Data;
}
const { data } = Astro.props;
---

<Layout lang={lang}>
  <ul role="list">
    {
      data.map(({ name, header, monsters }) => {
        return (
          <li class="flex flex-col items-center">
            <LocationHeader name={name} image={header} />
            <ul
              role="list"
              class="container grid gap-4 gap-y-8 p-4 py-8 pb-12 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4"
            >
              {monsters.map(({ name, image }) => (
                <li class="flex gap-4">
                  <MonsterAvatar name={name} image={image} />
                  <div class="flex flex-col ">
                    <h3 class="flex flex-1 items-center text-2xl text-white">{name}</h3>
                    <div class="flex-1" />
                  </div>
                </li>
              ))}
            </ul>
          </li>
        );
      })
    }
  </ul>
</Layout>
