---
import LocationHeader from "../../components/location/LocationHeader.astro";
import MonsterAvatar from "../../components/monster/MonsterAvatar.astro";
import { dataset, type Data } from "../../data";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return (["en", "es", "fr", "de", "it"] as const).map((lang) => ({
    params: {
      lang,
    },
    props: {
      data: dataset[lang] as Data,
    },
  }));
}

const { lang = "en" } = Astro.params;

interface Props {
  data: Data;
}
const { data } = Astro.props;
---

<Layout lang={lang}>
  <ul role="list" class="grid lg:grid-cols-2 grid-cols-1">
    {
      data.map(({ name, header, monsters }, i) => (
        <li class={i === data.length - 1 ? "lg:col-span-2 col-span-1" : ""}>
          <LocationHeader name={name} image={header} />
          <ul
            role="list"
            class={`grid ${
              i === data.length - 1 ? "lg:grid-cols-2 grid-cols-1" : "2xl:grid-cols-2 grid-cols-1"
            }  gap-4 p-4 pt-8 py-12`}
          >
            {monsters.map(({ name, image }) => (
              <li class="flex gap-8">
                <MonsterAvatar name={name} image={image} />
                <div class="flex flex-col ">
                  <h3 class="flex-1 flex items-center xl:text-5xl lg:text-3xl md:text-xl text-md text-white">{name}</h3>
                  <div class="flex-1" />
                </div>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>
